* {
	font: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 17px;
	color: #1b1e23;
}
a {
	color: #3182bd;
	cursor: pointer;
	font: Menlo, Consolas, monospace;
}
ul {
	list-style-type: none;
}
li {
	margin: 6px 0px;
	line-height: 150%;
}
h1 {
	font-size: 24px;
}